*{
    margin: 0;
    padding: 0;
}

#landing{
    height: 100vh;
    background-color: #D9E4EF;
}
#projects{
    height: 100vh;
    background-color: #EAF3FD;

}
#contact{
    height: 45vh;
    background-color: #D9E4EF;
}

footer{
    background-color: #D9E4EF;
    position: relative;
    display: flex;
    bottom: 0;
    justify-content: center;
}
.header{
    height: 100vh;
}
h1{
    font-size: 70px;
}
.navbar-style{
    padding-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
.logo{
    color: black;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;

}
.logo:hover{
    cursor: pointer;
}
.icon-bar{
    background: #738490;
}
li a{
    color: #738490;
    margin-top: 15px;
}
li a:hover{
    color: black;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
    
}
a{
    color: black;
}
span.name{
    color: #0062BF;
    font-weight: 700;
}

p{
    font-size: 25px;
    color: #738490;
}
b.email{
    font-size: 20px;
}

a p{
    color: black;
    font-weight: 500;
    text-decoration: none;

}
button.resume{
    width: 110px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 3px solid black;
    font-size: 17px;
    font-weight: 700;
}
button.resume:hover{
    color: black;
    background-color: #EAF3FD;
}

.col-md-7{
    margin-top: 15%;
}
.col-md-5{
    margin-top: 10%;
}
.col-md-6{
    margin-top: 5%;
}
.col-lg-12{
    margin-top: 12%;
}


b{
    color: black;
}

h2{
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bottom{
    justify-content: center;
    text-align: center;
    font-size:small;
}
.formbox{
    width: 480px;
    height:270px;
    position: relative;
    margin: 6% auto;
    background: #EAF3FD;
    padding: 5px;
    box-shadow:0 5px 20px#738490;
}
.formbox:hover{
    background-color:#D9E4EF ;
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
}
.description{
    color: #738490 ;
    font-size: 20px;
}
