*{
    margin: 0;
    padding: 0;
}
html{
    background-color: #DBE2E8;
}
#landing{
    height: 100vh;
    background-color: #DBE2E8;
}
#projects{
    min-height: 110vh;
    background-color: #E8ECF0;

}
#contact{
    min-height: 45vh;
    background-color: #DBE2E8;
}

footer{
    background-color: #DBE2E8;
    position: relative;
    display: flex;
    bottom: 0;
    justify-content: center;
}
.header{
    height: 100vh;
}
h1{
    font-size: 75px;
}
.navbar-style{
    padding-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
.logo{
    color: black;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;

}
.logo:hover{
    cursor: pointer;
}
.icon-bar{
    background: #738490;
}
li a{
    color: #738490;
    margin-top: 15px;
}
li a:hover{
    color: black;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
    
}
a{
    color: black;
}
span.name{
    color: #00378F;
    font-weight: 700;
}

p{
    font-size: 25px;
    color: #738490;
}
b.email{
    font-size: 20px;
}

a p{
    color: black;
    font-weight: 500;
    text-decoration: none;

}
button.resume{
    width: 110px;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 3px solid black;
    font-size: 17px;
    font-weight: 700;
    transition: .25s;
}
button.resume:hover{
    color: black;
    background-color: #EFF4F8;
}

.col-md-7{
    margin-top: 6%;

}
.col-md-5{
    margin-top: 6%;
}
.col-md-6{
    margin-top: 3%;
}
.col-lg-12{
    margin-top: 12%;
}


b{
    color: black;
}

h2{
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bottom{
    justify-content: center;
    text-align: center;
    font-size:small;
}
.formbox{
    max-width: 480px;
    min-height:270px;
    position: relative;
    margin: 6% auto;
    background: #E8ECF0;
    padding: 5px;
    box-shadow:0 5px 20px#738490;
    display: flex;
    flex-wrap: wrap;
    
}
.formbox:hover{
    box-shadow:0 5px 20px#2C5E76;
    
}

h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    max-width: 100%;
}
.description{
    color: #738490 ;
    font-size: 20px;
}
.language{
    color: black;
    font-size: 13px;
    display: inline-block;
    margin-left: 2%;
}
img.demo{
    max-width: 480px; 
    min-height:270px;
    position: relative;
    margin: 6% auto;
    box-shadow: 0 5px 20px#738490;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    transition: .3s;
}
img.demo:hover{
    box-shadow:0 5px 20px#2C5E76;
    transform: scale(.9);

}
img.icon:hover{
    transform: scale(1.05);
    opacity: 80%;
}

@media only screen and (max-width: 500px){
    h1{
        font-size: 45px;
    }
    p{
        font-size: 20px;
    }
    .col-lg-12{
        margin-top: 40%;
    }
    img.demo{
        max-width: 350px; 
        min-height:270px;
        position: relative;
        margin: 6% auto;
        box-shadow: 0 5px 20px#738490;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
    }
}
